<%- include('../inc/header') %>

<div class="container">
    <div class="row">
        <h1 class="d-flex justify-content-center">Detail</h1>
        <img src="<%= product.image %>" alt=""class="rounded mx-auto d-block style_image_detail " > 
    </div>
</div>

<%- include('../inc/footer') %>